<section id="contributors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contributors</h2>
                <hr class="primary">
                <p>Thanks to all those who have contributed!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center col-lg-offset-2">
                <a href="https://github.com/napalm255">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>napalm255</p>
                </a>
            </div>
            <div class="col-lg-3 text-center col-lg-offset-1">
                <a href="https://github.com/nobler1050">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>nobler1050</p>
                </a>
            </div>
        </div>
    </div>
</section>
