<section class="bg-primary" id="demo">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Watch it in action!</h2>
                <hr class="light">
                <p class="text-center wow pulse">
                  <script type="text/javascript" src="https://asciinema.org/a/30836.js" id="asciicast-30836" async data-autoplay="true"></script>
                </p>
            </div>
        </div>
    </div>
</section>
