<section class="bg-primary" id="install">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Easy and fast install!</h2>
                <hr class="light">
                <p class="text-faded wow rubberBand" data-wow-delay=".1s">Global (All Users)<br/><code>curl -s https://get.powerbash.org | sudo bash</code></p>
                <p class="text-faded wow fadeIn" data-wow-delay=".2s">User (Single User)<br/><code>curl -s https://get.powerbash.org | bash</code></p>
            </div>
        </div>
    </div>
</section>
